*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}

.container {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
  height: 100%;
  width: 100%;
}
.calculator{
   padding: 20px;
   background-color: #495057;
   box-shadow: 10px 10px grey;
}
input{
    padding: 8px 45px;
}
button{
    padding: 8px 24px;
    background-color:white ;
}
button:hover{
background-color:#495057 ;
}
.row{
    margin-bottom: 5px;
}
.equal{
    padding: 8px 59px;
    background-color: #1971c2;
    border-radius: 0.5em;
    border: none;
}
.equal:hover{
    background-color:#1864ab;
}